<div class="center jumbotron">
  <h1>Welcome to the Kosturos Foundation</h1>

  <h2>This is the home page for the Kosturos Foundation</h2>

    <%= link_to "Create a log in now", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
